<!DOCTYPE html>
<html lang="ko">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>
    <link rel="stylesheet" href="/public/css/detail.css" />
  </head>
  <body>
    <header id="header">
      <div class="headerLeft">
        <div class="logo leftLogo" onclick="goHome()">TALKTALK</div>
      </div>
      <!-- <div class="headerCenter">
        <div class="logo centerLogo" style="opacity: 0">TALKTALK</div>
      </div> -->
      <div class="headerRight">
        <div class="heart">
          <img
            onclick="heartMove()"
            src="/public/img/heartEmpty.png"
            alt="heart"
          />
        </div>
        <div class="login" id="loginBtn">login</div>
        <div class="signup" id="signupBtn">signup</div>
      </div>
      <div class="menuBtn">
        <img id="menuIcon" src="/public/img/menu.png" alt="menu" />
      </div>
    </header>

    <!-- 메뉴가 나타날 오른쪽 상자 -->
    <div class="sideMenu" id="sideMenu">
      <div class="menuContent">
        <div class="closeBtn" id="closeBtn">
          <img src="/public/img/close.png" alt="close" />
        </div>
        <div class="menuItem" id="loginMenu">Login</div>
        <div class="menuItem" id="signupMenu">Sign Up</div>
        <div class="menuItem" id="myLikesMenu">My Liked Posts</div>
      </div>
    </div>

    <div class="main">
      <div
        class="mainWrap"
        id="post_<%= post.id %>"
        data-user-id="<%= post.userId %>"
      >
        <!-- 게시글 제목 -->
        <h1><%= post.title %></h1>
        <div class="postNameBox">
          <!-- 작성자 -->
          <div class="name"><%= post.userName %></div>
          <!-- 게시글 업데이트 시간 -->
          <div><%= post.updatedAt %></div>
        </div>

        <div class="detailImgBox">
          <img
            class="detailImg"
            src="<%= post.img || '/public/img/heartFull.png' %>"
            alt="게시글 이미지"
          />
        </div>
        <!-- 게시글 내용 -->
        <p><%= post.detail %></p>

        <br />
        <div class="buttonContainer">
          <div class="clickHeart" onclick="clickHeart(`<%= post.id %>`)">
            <img
              class="heartimg"
              src="/public/img/heartEmpty.png"
              data-id="<%= post.id %>"
            />
            <div>공감</div>
          </div>

          <div id="detailBtn">
            <div class="btnWrap">
              <button
                id="editBtn"
                onclick="editPost('<%= post.id %>')"
                style="display: none"
              >
                수정
              </button>
              <button
                id="deleteBtn"
                onclick="deletePost('<%= post.id %>')"
                style="display: none"
              >
                삭제
              </button>
            </div>
            <button class="homeBtn" onclick="goHome()">
              <div class="homeImg">
                <img src="/public/img/home.png" alt="mainPage" />
              </div>
              <div class="home">홈</div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footerLogo"></div>
      <div class="footerInfo">
        <div>대표 박소현 진순흠</div>
        <div>주소 서울특별시 마포구 숭문 4길 6</div>
        <div>사업자 등록번호 000-00-00000</div>
        <br />
        <div>Copyright ⓒ 2025 TALKTALK All rights reserved.</div>
      </div>
      <div class="footerSNS"></div>
    </footer>
  </body>
  <script src="/public/js/detail.js"></script>
</html>
