<!DOCTYPE html>
<html lang="ko">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>
    <link rel="stylesheet" href="/public/css/detail.css" />
  </head>
  <body>
    <div class="main">
      <div
        class="mainWrap"
        id="post_<%= post.id %>"
        data-user-id="<%= post.userId %>"
      >
        <div><%= post.userName %></div>
        <!-- 게시글 제목 -->
        <h1><%= post.title %></h1>
        <!-- 게시글 업데이트 시간 -->
        <div><%= post.updatedAt %></div>

        <div>
          <img
            class="detailImg"
            src="<%= post.img || '/public/img/heartFull.png' %>"
            alt="게시글 이미지"
          />
        </div>
        <!-- 게시글 내용 -->
        <p><%= post.detail %></p>
        <div class="btnWrap">
          <button
            id="editBtn"
            onclick="editPost('<%= post.id %>')"
            style="display: none"
          >
            수정
          </button>
          <button
            id="deleteBtn"
            onclick="deletePost('<%= post.id %>')"
            style="display: none"
          >
            삭제
          </button>
        </div>

        <br />
        <div onclick="clickHeart(`<%= post.id %>`)">
          <img
            class="heartimg"
            src="/public/img/heartEmpty.png"
            data-id="<%= post.id %>"
          />
        </div>
        <div onclick="goHome()">메인으로</div>
      </div>
    </div>
  </body>
  <script src="/public/js/detail.js"></script>
  <script>
    const heart = () => {
      const img = document.querySelector(".heartimg");
      const postId = img.getAttribute("data-id"); // post.id 가져오기
      axios({
        method: "get",
        url: "/like/heart",
        params: { postId: Number(postId), userId: userId },
      }).then((res) => {
        if (res.data.message === "X") {
          document.querySelector(".heartimg").src =
            "/public/img/heartEmpty.png";
        } else {
          document.querySelector(".heartimg").src = "/public/img/heartFull.png";
        }
      });
    };
    let userId = "";
    const myData = () => {
      let cookies = document.cookie.split(";");

      const tokenCookie = cookies.find((item) =>
        item.trim().startsWith("token=")
      );
      if (!tokenCookie) {
        alert(`로그인 유효시간 만료`);
        return;
      }

      if (tokenCookie) {
        const token = tokenCookie.split("token=")[1];

        axios({
          method: "post",
          url: "/user/token",
          headers: {
            Authorization: `Bearer ${token}`,
          },
        }).then((res) => {
          let user = res.data.user;
          userId = user.id;
          heart();
        });
      }
    };
    myData();
    const clickHeart = (id) => {
      let cookies = document.cookie.split(";");

      const tokenCookie = cookies.find((item) =>
        item.trim().startsWith("token=")
      );
      if (!tokenCookie) {
        alert("로그인 후 가능합니다.");
        return;
      }
      axios({
        method: "post",
        url: "/like/postHeart",
        data: { postId: id, userId: userId },
      }).then((res) => {
        console.log(res);
        heart();
      });
    };
  </script>
</html>
