<!DOCTYPE html>
<html lang="ko">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>
    <link rel="stylesheet" href="/public/css/detail.css" />
  </head>
  <body>
    <div class="main">
      <div
        class="mainWrap"
        id="post_<%= post.id %>"
        data-user-id="<%= post.userId %>"
      >
        <div><%= post.userName %></div>
        <!-- 게시글 제목 -->
        <h1><%= post.title %></h1>
        <!-- 게시글 업데이트 시간 -->
        <div><%= post.updatedAt %></div>

        <div>
          <img
            class="detailImg"
            src="<%= post.img || '/public/img/heartFull.png' %>"
            alt="게시글 이미지"
          />
        </div>
        <!-- 게시글 내용 -->
        <p><%= post.detail %></p>
        <div class="btnWrap">
          <button
            id="editBtn"
            onclick="editPost('<%= post.id %>')"
            style="display: none"
          >
            수정
          </button>
          <button
            id="deleteBtn"
            onclick="deletePost('<%= post.id %>')"
            style="display: none"
          >
            삭제
          </button>
        </div>

        <br />
        <div onclick="goHome()">메인으로</div>
      </div>
    </div>
  </body>
  <script src="/public/js/detail.js"></script>
</html>
