<!DOCTYPE html>
<html lang="ko">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>
    <link rel="stylesheet" href="/public/css/detail.css" />
  </head>
  <body>
    <!-- 헤더 불러오기 -->
    <%- include('header') %>

    <div class="main">
      <div
        class="mainWrap"
        id="post_<%= post.id %>"
        data-user-id="<%= post.userId %>"
      >
        <!-- 게시글 제목 -->
        <h1><%= post.title %></h1>
        <div class="postNameBox">
          <!-- 작성자 -->
          <div class="name"><%= post.userName %></div>
          <!-- 게시글 업데이트 시간 -->
          <div><%= post.updatedAt %></div>
        </div>

        <div class="detailImgBox">
          <img
            class="detailImg"
            src="<%= post.img || '/public/img/heartFull.png' %>"
            alt="게시글 이미지"
          />
        </div>
        <!-- 게시글 내용 -->
        <p><%= post.detail %></p>

        <br />
        <div class="buttonContainer">
          <div class="clickHeart" onclick="clickHeart(`<%= post.id %>`)">
            <img
              class="heartimg"
              src="/public/img/heartEmpty.png"
              data-id="<%= post.id %>"
            />
            <div>공감</div>
          </div>

          <div id="detailBtn">
            <div class="btnWrap">
              <button
                id="editBtn"
                onclick="editPost('<%= post.id %>')"
                style="display: none"
              >
                수정
              </button>
              <button
                id="deleteBtn"
                onclick="deletePost('<%= post.id %>')"
                style="display: none"
              >
                삭제
              </button>
            </div>
            <button class="homeBtn" onclick="goHome()">
              <div class="homeImg">
                <img src="/public/img/home.png" alt="mainPage" />
              </div>
              <div class="home">홈</div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 푸터 불러오기 -->
    <%- include('footer') %>
  </body>
  <script src="/public/js/detail.js"></script>
</html>
