<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Editor's Style -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/public/css/update.css" />
  <body>
    <div class="Container">
      <div class="imgBox">
        <!-- 파일 선택 상자는 숨기고 div 박스 클릭 시 파일 선택 -->
        <input
          id="imgFile"
          type="file"
          onchange="fileInput(event)"
          style="display: none"
        />
        <!-- 미리보기 박스 클릭 시 파일 선택 상자로 넘어감 -->
        <div id="prevContainer" onclick="inputPrevImg()">
          <img
            id="prevImg"
            src="<%= post.img %>"
            alt="미리보기"
            style="width: 250px; height: 300px; object-fit: cover"
          />
          <span id="placeholder" style="display: none"> 이미지 선택 </span>
        </div>
      </div>
      <div class="textBox">
        <select id="category">
          <% const categories = [ { id: 1, name: "음악" }, { id: 2, name: "미술"
          }, { id: 3, name: "책" }, { id: 4, name: "여행" }, { id: 5, name:
          "반려동물" } ]; %> <% for (let i = 0; i < categories.length; i++) { %>
          <% if (categories[i].id === post.categoryId) { %>
          <option value="<%= categories[i].id %>" selected>
            <%= categories[i].name %>
          </option>
          <% } else { %>
          <option value="<%= categories[i].id %>">
            <%= categories[i].name %>
          </option>
          <% } %> <% } %></select
        ><br />

        <input
          id="title"
          type="text"
          placeholder="제목"
          value="<%= post.title %>"
        /><br />
        <div id="detail"></div>
        <button onclick="updateData('<%= post.id%>')">수정</button>
      </div>
    </div>
    <script id="postData" type="application/json">
      <%- JSON.stringify(post) %>
    </script>
  </body>

  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/public/js/update.js"></script>
</html>
